<!DOCTYPE html>
<html lang="en">

<head>
  <title>ReconEyes | OpenCameras - Administration</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <link href="/static/css/styles.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
</head>

<body class="bodyAdmin">

  <div>
    <h1><a href="/">Insecams</a></h1>
    <ul>
      <li><a href="/scrape_cams" class="a">Scrape cams</a><br></li>
    </ul>

    <h1><a href="/whatsupcams">Whatsupcams</a></h1>
    <ul>
      <li><a href="/whatsupcams/streams/update" class="a">Update streams.json</a> - Streams list<br></li>
      <li><a href="/whatsupcams/streams/stream/update" class="a">Update streams/&lt;stream_id&gt;.json</a> - Streams data<br></li>
      <li><a href="/whatsupcams/cams/update" class="a">Update cams (markers)</a><br></li>
    </ul>
  </div>
  
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>
